html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #ef0107;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 15%;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.x-slider {
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  height: 800px;
}

.x-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin: 0 15px !important;
  background-color: #ef0107;
}

.x-slider .swiper-button-next {
  color: #ef0107;
}

.x-slider .swiper-button-prev {
  color: #ef0107;
}
.x-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/*
.x-content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
*/
.x-center {
  color: #ef0107;
  text-align: center;
  margin: auto;
}
.contrast {
  filter: contrast(150%);
}
.blur {
  filter: blur(3px);
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.swal2-popup {
  width: 100vw !important;
  height: 98vh !important;
  margin: 0 !important; /* Remove default margins */
  border-radius: 0 !important; /* Remove default border-radius */
}

.swal2-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.my-confirm-button-class {
  background-color: #4CAF50 !important; /* Green */
  color: white !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
}

.my-cancel-button-class {
  background-color: #f44336 !important; /* Red */
  color: white !important;
  border: 2px solid #f44336 !important;
  border-radius: 10px !important;
  padding: 10px 20px !important;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}


.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000; /* Desired color */
  mix-blend-mode: hue; /* Blends the hue of the overlay with the image */
}